# Turtle Graphics

In [4]:
#Design Spiral Star
import turtle as t
a1=t.Turtle()
a1.pencolor('green')
for i in range(40):
    a1.forward(i*10)
    a1.left(144)
t.done()

In [ ]:
# Design A Sqaure Spiral
import turtle as t
a1=t.Turtle()
a1.pencolor('red')
for i in range(60):
    a1.forward(i)
    a1.left(91)
t.done()

In [123]:
# Design A Hexagon
from turtle import *
pencolor('blue')
colors=['blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6]) 
    forward(i)
    left(59)

In [ ]:
#Design A Rectangle
from turtle

In [ ]:
#A Circle
from turtle import *
pensize(20)
pencolor('yellow')
fillcolor('blue')
begin_fill()
circle(50)
end_fill()

In [6]:
#Design A Spiral Circle
from turtle import *
pensize(3)
pencolor('purple')
colors=['blue','green','red','yellow','orange','purple']
for i in range(14):
    pencolor(colors[i%6])
    circle(i*10)

In [2]:
# Design A Spiral Circle 2
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10+i,45)

In [3]:
# Design Circle 2
from turtle import *
pensize(3)
pencolor('purple')
colors=['blue','green','yellow','orange','red','pink']
for i in range(50):
    pencolor(colors[i%6])
    circle(10*i)
    
    sety((10*i)*(-1))
    down()

Terminator:

In [4]:
#Olympic Logo
from turtle import *
pensize(6)
r1=['blue','black','red']
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(50)
r2=['','yellow','','green']
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*-55,-55)
    pendown()
    circle(50)

In [6]:
#Audi Logo
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
        penup()
        goto(i*70,0)
        pendown()
        circle(50)

### Idiomatic Programming
- Transformation Code into Beautiful idiomatic python
- Replaces tradaitional index manipulation with python looping idioms

In [3]:
# Looping Over A Range Of No.
for i in [0,1,2,3,4,5]:
    print(i**2,end=' ')
print()
# pythonic Approach
for i in range(0,6):
    print((i**2),end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [5]:
# Looping Over A colection(List)
l=[1,2,3,4,5]
for i in range(len(l)):
    print(l[i],end=' ')
print()
# Pythinic Way
for i in l:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [13]:
#Looping From Backwards
l=[1,2,3,4,5]
for i in range(len(l)-1,-1,-1):
    print(l[i],end=' ')
     
print()
#Pythonic Way
for i in reversed(l):
         print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [15]:
#Looping Over Collection With index
l=[1,2,3,4,5]
for i in range(len(l)):
    print(i,'-->',l[i])
print()
#Pythonic Way
for i,a in enumerate(l):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [16]:
#Looping Over @ Collections
l=[1,2,3,4,5]
a=[1,2,3,4,5,6,7,8]
n=min(len(l),len(a))
for i in range(n):
    print(l[i],' ',a[i])
print()
#Pythonic Way
for i,a in zip(l,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [20]:
# Looping in sorted order
l=[8,1,25,16,9,2]
for i in sorted(l):
    print(i,end=' ')
print()
for i in sorted (l,reverse=True):
    print(i,end=' ')

1 2 8 9 16 25
25 16 9 8 2 1

In [22]:
#Dictionary
d={'Name':'Gitam','EmailID':'gitam@gitam.edu','Address':'Vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailID Address

In [24]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]
print(d)

{'Name': 'Gitam', 'EmailID': 'gitam@gitam.edu'}

In [25]:
for k in d.values():
    print(k,end=' ')

Gitam gitam@gitam.edu

# Lambda Functions
- Anoymous Function means that A function is without name.
- Any lambda function on python will be defined with lambda
- Syntax:lambda arg:expression

In [1]:
def sq(n):
    return n*n
sq(99)

9801

In [7]:
a=lambda x: x*x
print(a(99))

9801

# Ue Of lambda With Filter

In [14]:
def filterlist(l):
    a=[]
    for i in l:
        if i%2==0:
            a.append(i)
    return a
l=[1,2,3,4,5,6,7,8]
filterlist(l)

[2, 4, 6, 8]

l=[1,2,3,4,5,6,7,8]
lli=list(filter(lambda x: (x%2==0),l))
print(lli)

# Lambda With map()
-map() in python takes in a function and list as argument

In [16]:
def sl(l):
    a=[]
    for i in l:
        a.append(i*2)
    return a
l=[1,2,3,4,5,6,7,8]
sl(l)

[2, 4, 6, 8, 10, 12, 14, 16]

In [20]:
l=[1,2,3,4,5,6,7,8]
map_list=list(map(lambda x : x*2,l))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

# Lambda With Reduce

In [21]:
def sumlist(l):
    s=0
    for i in l:
        s+=i
    return s
l=[1,2,3,4,5,6,7,8]
sumlist(l)

36

In [24]:
from functools import reduce
l=[1,2,3,4,5,6,7,8]
s=reduce((lambda x,y:x+y),l)
print(s)

36

# Std Package
- Pandas,Numpy And Matplotlib

# Pandas
- Uses
  - Data Cleaning
  - Data Transformation
  - Data Analysis
- Notations
  - Series
        - A Series is a 1-D object that can hold int,float and string 
  - Data Frames

In [34]:
import pandas as pd
internal1={'s1':35,'s2':35,'s3':35}
internal2={'s1':36,'s2':37,'s3':38}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1,type(internal1))
print(internal2,type(internal2))

s1    35
s2    35
s3    35
dtype: int64 <class 'pandas.core.series.Series'>
s1    36
s2    37
s3    38
dtype: int64 <class 'pandas.core.series.Series'>

In [33]:
final={'Internal 1':internal1,'Internal 2':internal2}
final=pd.DataFrame(final)
print(final,type(final))

    Internal 1  Internal 2
s1          35          36
s2          35          37
s3          35          38 <class 'pandas.core.frame.DataFrame'>

In [35]:
final.columns#returns the names of column

Index(['Internal 1', 'Internal 2'], dtype='object')

In [37]:
final.values#returns all row values in 2-D array

array([[35, 36],
       [35, 37],
       [35, 38]], dtype=int64)

In [41]:
final.values[2]#To display Values of a particular row

array([35, 38], dtype=int64)

In [44]:
final.values[2][1]#displays elment at 2nd row and 1st column

38

In [46]:
final.values[2][0]=1000000#To update dataframes or to update a  particular element of a dataset

In [47]:
final.values

array([[     35,      36],
       [     35,      37],
       [1000000,      38]], dtype=int64)

In [49]:
for row in final.values:
    print('Internal1',row[0],'Internal-2',row[1])

Internal1 35 Internal-2 36
Internal1 35 Internal-2 37
Internal1 1000000 Internal-2 38

In [57]:
final.loc['s4']=[20,18]#To update or add new values or records in a dataset
#loc represents or points to a index of a row
final

    Internal 1  Internal 2
s1          35          36
s2          35          37
s3          99          89
s4          20          18

In [56]:
final.values[2]=[99,89]#To update elements of a particular row 
final

    Internal 1  Internal 2
s1          35          36
s2          35          37
s3          99          89
s4          20          18

In [59]:
pwd

'C:\\Users\\Admin\\Desktop\\Problem Solving And Programming'

## Reading CSV File
- To read the csv file from local pc use read_csv()

In [65]:
filepath='C:/Users/Admin/Desktop/Problem Solving And Programming/Data File/Income.csv'
def readcsvdata(filepath):
    return pd.read_csv(filepath)
df=readcsvdata(filepath)
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [71]:
#Extract income of all states for year 2013
#Alaska-41381
for row in df.values:
    print(row[1],':',row[10])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [76]:
df.values[0,10]#[0,1]

41381

In [77]:
df.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 62993, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

In [80]:
#Avg income of Californi
s=0
for i in range(2,11):
    s+=df.values[4][i]
print(s//len(df.values[2][2:]))

55350

In [83]:
#to display all column names
for i in range(1):
    print(df.columns)

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [85]:
#function to display all columns names
def columnsperu(df):
    l=[]
    columns=df.columns
    for i in columns:
        l.append(i)
    return l;
columnsperu(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [86]:
filepath='C:/Users/Admin/Desktop/Problem Solving And Programming/Data File/RegularSeasonCompactResults.csv'
def readcsvdata(filepath):
    return pd.read_csv(filepath)
df=readcsvdata(filepath)
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [87]:
#to know length or no. of rows and columns --shape
df.shape

(145289, 8)

In [89]:
#To know the only first few rows--head
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [90]:
#To know the only first few columns--tail
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [100]:
df.columns

Index(['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc',
       'Numot'],
      dtype='object')

In [102]:
#Converting All columns names into list
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [103]:
# describe()-min,max,count,mean,etc
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [105]:
df.max()#displays min values of all columns

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [106]:
df.min()#displays min values of all columns

Season    1985
Daynum       0
Wteam     1101
Wscore      34
Lteam     1101
Lscore      20
Wloc         A
Numot        0
dtype: object

In [112]:
#to get various Values of a particular value
df['Season'].max()
df['Season'].sum
print(df['Season'].sum()//len(df['Season']))#Avg
df['Season'].min()

2001

1985

In [113]:
df.loc[:3]#includes 4th row record also 0,1,2,3

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0

In [114]:
df.iloc[:3]#includes 4th row record also 0,1,2

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [122]:
#To sort the elements for a aprticular column
print(df.sort_values('Lscore').head())#haed Gives few first records
print(df.sort_values('Lscore').tail())#tail Gives few last records

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
100027    2008      66   1203      49   1387      20    H      0
49310     1997      66   1157      61   1204      21    H      0
89021     2006      44   1284      41   1343      21    A      0
85042     2005      66   1131      73   1216      22    H      0
103660    2009      26   1326      59   1359      22    H      0
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
77873    2003     110   1383     142   1254     140    H      2
24970    1991      68   1258     186   1109     140    H      0
22074    1990      96   1261     148   1258     141    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0

In [132]:
#Filters the records based on particular conditions
df[df['Wscore'] > 150]#Displays those records having a value greater than 150 in wscore column
df[ (df['Wscore'] > 170) & (df['Daynum']>60) ]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
17867    1989      92   1258     181   1109     150    H      0
24970    1991      68   1258     186   1109     140    H      0